<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @feature_clip.description %>
</p>

<%= link_to 'Edit', edit_feature_clip_path(@feature_clip) %> |
<%= link_to 'Back', feature_clips_path %>
