<html>
    <% @clips.each do |clip| %>
        <div class="actress">
            <%= link_to image_tag(clip.image_url), {:controller => "home", :action => "clip", :id => clip.id } %>
            <%= clip.clip_name %>
            <%= clip.created_at %>
        </div>
    <%end %>
    
    <%= will_paginate @clips %>
    

    
</html>

