<html>
    <% @actresses.each do |actress| %>
        <div class="actress">
            <%= link_to image_tag(actress.image_path), {:controller => "home", :action => "actress", :id => actress.id } %>
            <%= actress.first_name %> 
            <%= actress.last_name %>
        </div>
    <%end %>
    
    <%= will_paginate @actresses %>
    

    
</html>
