<html>
    <body>
        
        <div class="top_adds">
            <div class="add">Add1</div>
            <div class="add">Add2</div>
            <div class="add">Add3</div>
            <div class="add">Add4</div>
        </div>
        <div class="featured_actress_container">
            <div class="featured_actress_image">
                Image here
            </div>
            <div class="featured_actress_description">
                Description here
            </div>
        </div>
        <div class="featured_clip_container">
            <div class="featured_clip_image">
                Image here
            </div>
            <div class="featured_clip_description">
                Description here
            </div>
        </div>
        
        <div class="flex-container">
            <div class="adds">
                <div class="add">Add1</div>
                <div class="add">Add2</div>
                <div class="add">Add3</div>
                <div class="add">Add4</div>
                <div class="add">Add5</div>
                <div class="add">Add6</div>
                <div class="add">Add7</div>
                <div class="add">Add8</div>
            </div>
            <div class="content">
                <div class="clip">Clip1</div>
                <div class="clip">Clip2</div>
                <div class="clip">Clip3</div>
                <div class="clip">Clip4</div>
                <div class="clip">Clip5</div>
                <div class="clip">Clip6</div>
                <div class="clip">Clip7</div>
                <div class="clip">Clip8</div>
                <div class="clip">Clip9</div>
                <div class="clip">Clip10</div>
            </div>
            <div class="adds">
                <div class="add">Add1</div>
                <div class="add">Add2</div>
                <div class="add">Add3</div>
                <div class="add">Add4</div>
            </div>
        </div>
        
    </body>
</html>
