
.roundedcorners {
  border-radius: 25px;
}

.border {
  border: 1px solid black;
}

.img {
  border-radius: 25px;
}

.top_adds {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: grey;
    justify-content: center;
    margin: 10px;
}

.flex-container {
    display: flex;
    background-color: #eee;
}

.top_container {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #E8E8E8
}

.clips p {
  font-family: "Lucida Console", Courier, monospace;
  font-size:15px;
  line-height: normal;
}

.feature_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;

}

.feature_item {
  margin: 20px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  background-color: #fff;
}

.feature_item img {
  height: 600px;
  width: 600px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  al
}

.feature_item img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.feature_item h1 {
  font-weight:bold;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 35px;
  margin: 20px;
  color: #0c6a93;
  border: 1px solid #0c6a93;
  text-align: center;
}

.feature_item h2 {
  font-weight:normal;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  margin: 20px;
  color: #0c6a93;
  border: 1px solid #0c6a93;
  text-align: center;
}

.feature_item h3 {
  font-weight:normal;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 15px;
  margin: 20px;
  color: #0c6a93;
  border: 1px solid #0c6a93;
  text-align: center;
}


.clip_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 10px;
  justify-content: flex-start;

}

.clips {

  flex-basis: 0;
  margin: 20px;
  background-color: #fff;
}

.clips img {
    border-radius: 5px;
    flex-grow:0;
    flex-shrink:0;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.clips h3 {
  font-weight:normal;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 15px;
  margin: 20px;
  color: #0c6a93;
  border: 1px solid #0c6a93;
  text-align: center;
}

.actress {
    background-color: grey;
    flex: 1 1 0px;
    margin: 20px;
    border-radius: 10px;
}

.actress img {
    margin: 5px;
    flex-grow:0;
    flex-shrink:0;
    width: 200px;
    height: 200px;
}

.vdo {
    margin: 20px;
    border-radius: 10px;
    background-color: grey;
}

.vdo video {
    margin: 5px;
    width: 200px;
    height: 200px;
}


.adds {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.add {
    margin: 5px;
}

.top_highlight {
  position: relative;
  text-align: center;
  height: 100px;
  display: block;
  background-color: white;
}

.actress_page_image_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.actress_page_image_container img {
  margin: 5px;
  flex-grow:0;
  flex-shrink:0;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.actress_description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight:bold;
}

.actress_search {
  display:flex;
  margin-top: 10px;
  margin-left: 25px;
  width: 100%;
}

.headings {
  display: flex;
  margin-left: 25px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 0px;
}

.headings h1 {
  font-weight:bold;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 35px;
  margin: 5px;
  color: #0c6a93;
  border: 1px solid #0c6a93;
}

.navbar-inverse {
  background-color: white;
}
