
.roundedcorners {
  border-radius: 25px;
}

.border {
  border: 1px solid black;
}

.img {
  border-radius: 25px;
}

.top_adds {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: grey;
    justify-content: center;
    margin: 10px;
}

.flex-container {
    display: flex;
    background-color: light grey;
    margin: 10px;
}

.top_container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.feature_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  background-color: grey;
  border-radius: 10px;
}

.feature_container img {
  flex-grow:0;
  flex-shrink:0;
  width: 250px;
  height: 250px;
  margin: 5px;
}

.feature_item {
  flex: 1 1 0px;
  padding: 5px;
}

.clips {
  background-color: grey;
  flex: 1 1 0px;
  margin: 20px;
  border-radius: 10px;
}

.clips img {
    margin: 5px;
    flex-grow:0;
    flex-shrink:0;
    width: 200px;
    height: 200px;
}

.actress {
    background-color: grey;
    flex: 1 1 0px;
    margin: 20px;
    border-radius: 10px;
}

.actress img {
    margin: 5px;
    flex-grow:0;
    flex-shrink:0;
    width: 200px;
    height: 200px;
}

.vdo {
    margin: 20px;
    border-radius: 10px;
    background-color: grey;
}

.vdo video {
    margin: 5px;
    width: 200px;
    height: 200px;
}


.adds {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
}

.add {
    margin: 5px;
}

.top_highlight {
  background-color: rgb(1, 0, 18);
  position: relative;
  text-align: center;
  height: 100px;
  display: block;
}

. clip_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  background-color: grey;
  border-radius: 10px;
}



