
<div class="container">
  <h4>Editing Feature Actress</h4>

  <%= render 'form', feature_actress: @feature_actress %>

  <%= link_to 'Show', @feature_actress %> |
  <%= link_to 'Back', feature_actresses_path %>
</div>
