<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @feature_actress.description %>
</p>

<%= link_to 'Edit', edit_feature_actress_path(@feature_actress) %> |
<%= link_to 'Back', feature_actresses_path %>
